In [1]:
import pymongo
import pandas as pd
from pymongo import MongoClient
import os

In [2]:
# Create instance of MongoClient
client = MongoClient()
# Connection URI
connStr = os.getenv("MONGO_CONN")
client = MongoClient(connStr)
# Select database
db = client['MSA']
# Select the collection within the database (in this case its GDP_raw data, check list below for other collections)
gdp = db.GDP_clean
# Convert entire collection to Pandas dataframe
df_gdp = pd.DataFrame(list(gdp.find()))
df_gdp.head()

,_id,CBSA,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,60328a749a8d003a38e3f282,10180,3638709,3746156,3929394,4174103,4423342,4991087,5379170,5666044,...,5839625,5996498,6285840,6450382,6678674,6638709,6631955,6833064,7348112,7730423
1,60328a749a8d003a38e3f283,10420,22000408,23265354,24197690,25375844,26682888,27552749,28701949,29054310,...,28983322,29589772,30484007,31447075,32753646,33868052,34458540,35193942,36624333,37698744
2,60328a749a8d003a38e3f284,10500,4244508,4397147,4504367,4663416,4890707,5027430,5089528,5097879,...,5097990,5279579,5436011,5530836,5577624,5676239,5874144,5956081,6166172,6588233
3,60328a749a8d003a38e3f285,10540,2663058,2858852,2788285,3140305,3252690,3692652,3643383,3562291,...,3476449,3574061,3642763,3792310,3921082,4242542,4498372,4642425,5102768,5308033
4,60328a749a8d003a38e3f286,10580,32529530,33665629,35400585,37188847,38824009,41337414,42725907,44187767,...,46985416,47754508,49077007,50933123,52822054,55451680,57904993,60255221,62666517,65591092

In [3]:
df_gdp.drop(columns='_id', inplace=True)

In [4]:
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CBSA    384 non-null    int64
 1   2001    384 non-null    int64
 2   2002    384 non-null    int64
 3   2003    384 non-null    int64
 4   2004    384 non-null    int64
 5   2005    384 non-null    int64
 6   2006    384 non-null    int64
 7   2007    384 non-null    int64
 8   2008    384 non-null    int64
 9   2009    384 non-null    int64
 10  2010    384 non-null    int64
 11  2011    384 non-null    int64
 12  2012    384 non-null    int64
 13  2013    384 non-null    int64
 14  2014    384 non-null    int64
 15  2015    384 non-null    int64
 16  2016    384 non-null    int64
 17  2017    384 non-null    int64
 18  2018    384 non-null    int64
 19  2019    384 non-null    int64
dtypes: int64(20)
memory usage: 60.1 KB

In [ ]:
predictions = []
for i in range(0,383):
    x = [[2010],[2011],[2012],[2013],[2014],[2015],[2016],[2017],[2018],[2019]]
    y = df.iloc[i, 2:6].values
    model.fit(x,y)
    y_pred = model.predict([[2024]])
    predictions.append(y_pred)
flat_list = [item for sublist in predictions for item in sublist]