In [1]:
import pandas as pd 
import pymongo
from pymongo import MongoClient
import os

In [2]:
# Create instance of MongoClient
client = MongoClient()
# Connection URI
connStr = os.getenv('MONGO_CONN')
client = MongoClient(connStr)
# Select database
db = client['MSA']
# Select the collection within the database (in this case its GDP_raw data, check list below for other collections)
gdp = db.GDP_raw
# Convert entire collection to Pandas dataframe
df_gdp = pd.DataFrame(list(gdp.find()))
df_gdp.head()

,_id,GeoFips,GeoName,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,602caa7558615f560c4ebd11,998,United States (Metropolitan Portion) *,9418732584,9735363130,10187621298,10856715428,11597353935,12265005314,12826079941,...,13269729812,13726940780,14332171020,14832150055,15512337494,16278284578,16794932722,17510245896,18470552775,19221575535
1,602caa7558615f560c4ebd12,10420,"Akron, OH (Metropolitan Statistical Area)",22000408,23265354,24197690,25375844,26682888,27552749,28701949,...,28983322,29589772,30484007,31447075,32753646,33868052,34458540,35193942,36624333,37698744
2,602caa7558615f560c4ebd13,10180,"Abilene, TX (Metropolitan Statistical Area)",3638709,3746156,3929394,4174103,4423342,4991087,5379170,...,5839625,5996498,6285840,6450382,6678674,6638709,6631955,6833064,7348112,7730423
3,602caa7558615f560c4ebd14,10500,"Albany, GA (Metropolitan Statistical Area)",4244508,4397147,4504367,4663416,4890707,5027430,5089528,...,5097990,5279579,5436011,5530836,5577624,5676239,5874144,5956081,6166172,6588233
4,602caa7558615f560c4ebd15,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",2663058,2858852,2788285,3140305,3252690,3692652,3643383,...,3476449,3574061,3642763,3792310,3921082,4242542,4498372,4642425,5102768,5308033

In [4]:
df_gdp.sort_values(inplace=True, by='GeoFips')
df_gdp.head()

,_id,GeoFips,GeoName,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,602caa7558615f560c4ebd11,998,United States (Metropolitan Portion) *,9418732584,9735363130,10187621298,10856715428,11597353935,12265005314,12826079941,...,13269729812,13726940780,14332171020,14832150055,15512337494,16278284578,16794932722,17510245896,18470552775,19221575535
2,602caa7558615f560c4ebd13,10180,"Abilene, TX (Metropolitan Statistical Area)",3638709,3746156,3929394,4174103,4423342,4991087,5379170,...,5839625,5996498,6285840,6450382,6678674,6638709,6631955,6833064,7348112,7730423
1,602caa7558615f560c4ebd12,10420,"Akron, OH (Metropolitan Statistical Area)",22000408,23265354,24197690,25375844,26682888,27552749,28701949,...,28983322,29589772,30484007,31447075,32753646,33868052,34458540,35193942,36624333,37698744
3,602caa7558615f560c4ebd14,10500,"Albany, GA (Metropolitan Statistical Area)",4244508,4397147,4504367,4663416,4890707,5027430,5089528,...,5097990,5279579,5436011,5530836,5577624,5676239,5874144,5956081,6166172,6588233
4,602caa7558615f560c4ebd15,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",2663058,2858852,2788285,3140305,3252690,3692652,3643383,...,3476449,3574061,3642763,3792310,3921082,4242542,4498372,4642425,5102768,5308033

In [5]:
df_gdp.columns

Index(['_id', 'GeoFips', 'GeoName', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [6]:
df_gdp.drop(columns=['_id', 'GeoName', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009'], inplace=True)
df_gdp = df_gdp[df_gdp['GeoFips'] != 998]
df_gdp.head()

,GeoFips,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
2,10180,5839625,5996498,6285840,6450382,6678674,6638709,6631955,6833064,7348112,7730423
1,10420,28983322,29589772,30484007,31447075,32753646,33868052,34458540,35193942,36624333,37698744
3,10500,5097990,5279579,5436011,5530836,5577624,5676239,5874144,5956081,6166172,6588233
4,10540,3476449,3574061,3642763,3792310,3921082,4242542,4498372,4642425,5102768,5308033
5,10580,46985416,47754508,49077007,50933123,52822054,55451680,57904993,60255221,62666517,65591092

In [7]:
df_gdp.rename(columns={'GeoFips' : 'CBSA'}, inplace=True)
df_gdp.head()

,CBSA,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
2,10180,5839625,5996498,6285840,6450382,6678674,6638709,6631955,6833064,7348112,7730423
1,10420,28983322,29589772,30484007,31447075,32753646,33868052,34458540,35193942,36624333,37698744
3,10500,5097990,5279579,5436011,5530836,5577624,5676239,5874144,5956081,6166172,6588233
4,10540,3476449,3574061,3642763,3792310,3921082,4242542,4498372,4642425,5102768,5308033
5,10580,46985416,47754508,49077007,50933123,52822054,55451680,57904993,60255221,62666517,65591092

In [8]:
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 384 entries, 2 to 384
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CBSA    384 non-null    int64
 1   2010    384 non-null    int64
 2   2011    384 non-null    int64
 3   2012    384 non-null    int64
 4   2013    384 non-null    int64
 5   2014    384 non-null    int64
 6   2015    384 non-null    int64
 7   2016    384 non-null    int64
 8   2017    384 non-null    int64
 9   2018    384 non-null    int64
 10  2019    384 non-null    int64
dtypes: int64(11)
memory usage: 36.0 KB

In [9]:
# create new collection
gdp_collection = db.GDP_clean
# turn dataframe into readable format for mongo
df_dict = df_gdp.to_dict(orient='records')
# write dataframe to unemployment_predicted_2024 collection
gdp_collection.insert_many(df_dict)