In [40]:
import pymongo
import pandas as pd
from pymongo import MongoClient

In [41]:
# Connection URI
client = MongoClient('mongodb+srv://project_user:qsdapUweFvhdbouy@cluster0.l3pqt.mongodb.net/MSA?retryWrites=true&w=majority')
# Select database
db = client['MSA']
# Select the collection within the database (in this case its GDP_raw data, check list below for other collections)
unemployment_rate = db.UnemploymentRate_raw
# Convert entire collection to Pandas dataframe
df = pd.DataFrame(list(unemployment_rate.find()))
df

,_id,CBSA,series id,year,period,period_name,value
0,6038b4d5faf26103439df6b5,11500,LAUMT011150000000003,2019,M12,December,3.0
1,6038b4d5faf26103439df6b6,11500,LAUMT011150000000003,2019,M11,November,2.9
2,6038b4d5faf26103439df6b7,11500,LAUMT011150000000003,2019,M10,October,3.0
3,6038b4d5faf26103439df6b8,11500,LAUMT011150000000003,2019,M09,September,3.0
4,6038b4d5faf26103439df6b9,11500,LAUMT011150000000003,2019,M08,August,3.4
...,...,...,...,...,...,...,...
46075,6038b4d5faf26103439eaab0,49340,LAUMT257960000000003,2010,M05,May,8.8
46076,6038b4d5faf26103439eaab1,49340,LAUMT257960000000003,2010,M04,April,8.8
46077,6038b4d5faf26103439eaab2,49340,LAUMT257960000000003,2010,M03,March,9.4
46078,6038b4d5faf26103439eaab3,49340,LAUMT257960000000003,2010,M02,February,9.6
46079,6038b4d5faf26103439eaab4,49340,LAUMT257960000000003,2010,M01,January,9.9

In [42]:
# drop unwanted columns
df.drop(columns=['_id', 'series id', 'period'], inplace=True)

In [43]:
print(df.dtypes)

CBSA             int64
year             int64
period_name     object
value          float64
dtype: object

In [44]:
# change data type
df[['year', 'value']] = df[['year', 'value']].apply(pd.to_numeric)
df.dtypes

CBSA             int64
year             int64
period_name     object
value          float64
dtype: object

In [45]:
df.rename(columns={'period_name':'month'}, inplace=True)

In [46]:
# reorder columns
df= df[['CBSA', 'year', 'month', 'value']]
df

        CBSA  year      month  value
0      11500  2019   December    3.0
1      11500  2019   November    2.9
2      11500  2019    October    3.0
3      11500  2019  September    3.0
4      11500  2019     August    3.4
...      ...   ...        ...    ...
46075  49340  2010        May    8.8
46076  49340  2010      April    8.8
46077  49340  2010      March    9.4
46078  49340  2010   February    9.6
46079  49340  2010    January    9.9

[46080 rows x 4 columns]

In [47]:
# create new collection to export clean data to mongo
unemployment_rate_clean = db.UnemploymentRate_clean

In [48]:
# turn dataframe into format for mongo to store
df_dict = df.to_dict(orient='records')

In [51]:
unemployment_rate_clean.insert_many(df_dict)