In [1]:
import pymongo
import pandas as pd
from pymongo import MongoClient

In [2]:
# Create instance of MongoClient
client = MongoClient()
# Connection URI
client = MongoClient('mongodb+srv://<username>:<password>@cluster0.l3pqt.mongodb.net/MSA?retryWrites=true&w=majority')
# Select database
db = client['MSA']
# Select the collection within the database (in this case its GDP_raw data, check list below for other collections)
gdp = db.GDP_raw
# Convert entire collection to Pandas dataframe
df_gdp = pd.DataFrame(list(gdp.find()))
df_gdp.head()

,_id,GeoFips,GeoName,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,602caa7558615f560c4ebd11,998,United States (Metropolitan Portion) *,9418732584,9735363130,10187621298,10856715428,11597353935,12265005314,12826079941,...,13269729812,13726940780,14332171020,14832150055,15512337494,16278284578,16794932722,17510245896,18470552775,19221575535
1,602caa7558615f560c4ebd12,10420,"Akron, OH (Metropolitan Statistical Area)",22000408,23265354,24197690,25375844,26682888,27552749,28701949,...,28983322,29589772,30484007,31447075,32753646,33868052,34458540,35193942,36624333,37698744
2,602caa7558615f560c4ebd13,10180,"Abilene, TX (Metropolitan Statistical Area)",3638709,3746156,3929394,4174103,4423342,4991087,5379170,...,5839625,5996498,6285840,6450382,6678674,6638709,6631955,6833064,7348112,7730423
3,602caa7558615f560c4ebd14,10500,"Albany, GA (Metropolitan Statistical Area)",4244508,4397147,4504367,4663416,4890707,5027430,5089528,...,5097990,5279579,5436011,5530836,5577624,5676239,5874144,5956081,6166172,6588233
4,602caa7558615f560c4ebd15,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",2663058,2858852,2788285,3140305,3252690,3692652,3643383,...,3476449,3574061,3642763,3792310,3921082,4242542,4498372,4642425,5102768,5308033

In [3]:
# This is how to get a list of the collection names in the MSA db
client.MSA.collection_names()

['GDP_raw',
 'employment_raw',
 'msa_codes',
 'population_raw',
 'unemployment_raw']