In [46]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [47]:
model = LinearRegression()

In [48]:
employment_df = pd.read_csv('../Resources/Data/employment_MSA_clean.csv')
employment_df

,GeoFips,GeoName,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,10180,"Abilene, TX (Metropolitan Statistical Area)",0.923909,0.878921,0.950270,1.020674,1.248157,2.536744,2.881307,-2.009792,-0.472915,1.429619,1.680364,1.358132,1.103766,0.288322,-0.009746,0.180310,1.702566,2.744509
1,10420,"Akron, OH (Metropolitan Statistical Area)",-0.073308,-0.068572,2.068665,1.855207,1.334152,1.536656,0.015801,-4.611877,-0.486254,1.305912,1.039207,0.595318,1.621946,1.144756,0.316162,0.149745,0.520286,0.822524
2,10500,"Albany, GA (Metropolitan Statistical Area)",-1.167784,1.533074,-0.199280,2.625246,0.553775,0.659878,-0.603798,-2.416226,-1.170059,1.794506,0.251298,0.385449,1.107988,1.043722,0.363556,0.193357,0.682773,1.037231
3,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",-1.119655,-0.786907,1.837647,4.371355,1.881306,2.379561,-0.122594,-5.634490,-0.997826,-0.397754,0.605338,0.871111,2.686918,2.301023,1.125481,3.546706,2.662803,1.348113
4,10580,"Albany-Schenectady-Troy, NY (Metropolitan Stat...",-0.386304,0.713207,1.137991,1.285873,0.662660,1.244158,0.559249,-1.583846,-1.348554,0.652534,1.146290,1.028209,0.957357,1.443207,1.218819,1.217108,1.028761,0.584085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,"Yakima, WA (Metropolitan Statistical Area)",0.043484,1.290649,-0.845966,1.504995,2.481575,0.642729,2.687791,-1.408948,-0.736624,0.770632,4.003632,0.432529,1.529664,1.017242,1.555988,1.640110,1.686718,1.166081
380,49620,"York-Hanover, PA (Metropolitan Statistical Area)",-0.177766,0.246284,2.526718,2.987014,1.498067,2.183957,0.151862,-3.934661,-0.457831,1.229802,0.542460,0.587777,1.011599,0.946146,1.686409,0.881842,1.166493,1.105225
381,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",-1.831271,-0.936645,-0.260418,0.568914,-0.232604,-0.456056,-1.817983,-5.096755,0.040232,1.510061,0.728197,0.069961,0.143303,0.007641,0.092034,-1.348707,0.189227,-0.404770
382,49700,"Yuba City, CA (Metropolitan Statistical Area)",1.471569,0.270816,2.117527,1.173746,2.349647,2.371273,-3.386678,-3.080590,-1.418976,0.059175,2.242540,2.343432,2.063698,2.737368,1.832617,2.124372,2.392559,3.399639
383,49740,"Yuma, AZ (Metropolitan Statistical Area)",3.011775,2.424984,5.324015,2.916529,3.672904,1.598310,-1.703578,-4.428375,-0.073787,1.360434,1.729886,0.826567,0.715060,2.553069,3.349650,-0.429664,1.791762,1.581085

In [49]:
employment_2019_df= employment_df[["2019"]]
employment_2019_df

         2019
0    2.744509
1    0.822524
2    1.037231
3    1.348113
4    0.584085
..        ...
379  1.166081
380  1.105225
381 -0.404770
382  3.399639
383  1.581085

[384 rows x 1 columns]

In [50]:
employment_df=employment_df.drop(columns=["2019"], axis=1)
employment_df

,GeoFips,GeoName,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,10180,"Abilene, TX (Metropolitan Statistical Area)",0.923909,0.878921,0.950270,1.020674,1.248157,2.536744,2.881307,-2.009792,-0.472915,1.429619,1.680364,1.358132,1.103766,0.288322,-0.009746,0.180310,1.702566
1,10420,"Akron, OH (Metropolitan Statistical Area)",-0.073308,-0.068572,2.068665,1.855207,1.334152,1.536656,0.015801,-4.611877,-0.486254,1.305912,1.039207,0.595318,1.621946,1.144756,0.316162,0.149745,0.520286
2,10500,"Albany, GA (Metropolitan Statistical Area)",-1.167784,1.533074,-0.199280,2.625246,0.553775,0.659878,-0.603798,-2.416226,-1.170059,1.794506,0.251298,0.385449,1.107988,1.043722,0.363556,0.193357,0.682773
3,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",-1.119655,-0.786907,1.837647,4.371355,1.881306,2.379561,-0.122594,-5.634490,-0.997826,-0.397754,0.605338,0.871111,2.686918,2.301023,1.125481,3.546706,2.662803
4,10580,"Albany-Schenectady-Troy, NY (Metropolitan Stat...",-0.386304,0.713207,1.137991,1.285873,0.662660,1.244158,0.559249,-1.583846,-1.348554,0.652534,1.146290,1.028209,0.957357,1.443207,1.218819,1.217108,1.028761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,"Yakima, WA (Metropolitan Statistical Area)",0.043484,1.290649,-0.845966,1.504995,2.481575,0.642729,2.687791,-1.408948,-0.736624,0.770632,4.003632,0.432529,1.529664,1.017242,1.555988,1.640110,1.686718
380,49620,"York-Hanover, PA (Metropolitan Statistical Area)",-0.177766,0.246284,2.526718,2.987014,1.498067,2.183957,0.151862,-3.934661,-0.457831,1.229802,0.542460,0.587777,1.011599,0.946146,1.686409,0.881842,1.166493
381,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",-1.831271,-0.936645,-0.260418,0.568914,-0.232604,-0.456056,-1.817983,-5.096755,0.040232,1.510061,0.728197,0.069961,0.143303,0.007641,0.092034,-1.348707,0.189227
382,49700,"Yuba City, CA (Metropolitan Statistical Area)",1.471569,0.270816,2.117527,1.173746,2.349647,2.371273,-3.386678,-3.080590,-1.418976,0.059175,2.242540,2.343432,2.063698,2.737368,1.832617,2.124372,2.392559
383,49740,"Yuma, AZ (Metropolitan Statistical Area)",3.011775,2.424984,5.324015,2.916529,3.672904,1.598310,-1.703578,-4.428375,-0.073787,1.360434,1.729886,0.826567,0.715060,2.553069,3.349650,-0.429664,1.791762

In [51]:
predictions = []
for i in range(0,384):
    x = [[2002],[2003],[2004],[2005],[2006],[2007],[2008],[2009],[2010],[2011],[2012],[2013],[2014],[2015],[2016],[2017],[2018]]
    y = employment_df.iloc[i, 2:].values
    model.fit(x,y)
    y_pred = model.predict([[2019]])
    predictions.append(y_pred)
flat_list = [item for sublist in predictions for item in sublist]
employment_df['prediction_2019'] = flat_list
employment_df

,GeoFips,GeoName,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,prediction_2019
0,10180,"Abilene, TX (Metropolitan Statistical Area)",0.923909,0.878921,0.950270,1.020674,1.248157,2.536744,2.881307,-2.009792,-0.472915,1.429619,1.680364,1.358132,1.103766,0.288322,-0.009746,0.180310,1.702566,0.676828
1,10420,"Akron, OH (Metropolitan Statistical Area)",-0.073308,-0.068572,2.068665,1.855207,1.334152,1.536656,0.015801,-4.611877,-0.486254,1.305912,1.039207,0.595318,1.621946,1.144756,0.316162,0.149745,0.520286,0.453050
2,10500,"Albany, GA (Metropolitan Statistical Area)",-1.167784,1.533074,-0.199280,2.625246,0.553775,0.659878,-0.603798,-2.416226,-1.170059,1.794506,0.251298,0.385449,1.107988,1.043722,0.363556,0.193357,0.682773,0.512726
3,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",-1.119655,-0.786907,1.837647,4.371355,1.881306,2.379561,-0.122594,-5.634490,-0.997826,-0.397754,0.605338,0.871111,2.686918,2.301023,1.125481,3.546706,2.662803,2.027648
4,10580,"Albany-Schenectady-Troy, NY (Metropolitan Stat...",-0.386304,0.713207,1.137991,1.285873,0.662660,1.244158,0.559249,-1.583846,-1.348554,0.652534,1.146290,1.028209,0.957357,1.443207,1.218819,1.217108,1.028761,1.088209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,"Yakima, WA (Metropolitan Statistical Area)",0.043484,1.290649,-0.845966,1.504995,2.481575,0.642729,2.687791,-1.408948,-0.736624,0.770632,4.003632,0.432529,1.529664,1.017242,1.555988,1.640110,1.686718,1.692528
380,49620,"York-Hanover, PA (Metropolitan Statistical Area)",-0.177766,0.246284,2.526718,2.987014,1.498067,2.183957,0.151862,-3.934661,-0.457831,1.229802,0.542460,0.587777,1.011599,0.946146,1.686409,0.881842,1.166493,0.750834
381,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",-1.831271,-0.936645,-0.260418,0.568914,-0.232604,-0.456056,-1.817983,-5.096755,0.040232,1.510061,0.728197,0.069961,0.143303,0.007641,0.092034,-1.348707,0.189227,0.096024
382,49700,"Yuba City, CA (Metropolitan Statistical Area)",1.471569,0.270816,2.117527,1.173746,2.349647,2.371273,-3.386678,-3.080590,-1.418976,0.059175,2.242540,2.343432,2.063698,2.737368,1.832617,2.124372,2.392559,1.913087
383,49740,"Yuma, AZ (Metropolitan Statistical Area)",3.011775,2.424984,5.324015,2.916529,3.672904,1.598310,-1.703578,-4.428375,-0.073787,1.360434,1.729886,0.826567,0.715060,2.553069,3.349650,-0.429664,1.791762,0.459010

In [52]:
compare_df = pd.concat([employment_df, employment_2019_df], axis=1)
compare_df

,GeoFips,GeoName,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,prediction_2019,2019
0,10180,"Abilene, TX (Metropolitan Statistical Area)",0.923909,0.878921,0.950270,1.020674,1.248157,2.536744,2.881307,-2.009792,...,1.429619,1.680364,1.358132,1.103766,0.288322,-0.009746,0.180310,1.702566,0.676828,2.744509
1,10420,"Akron, OH (Metropolitan Statistical Area)",-0.073308,-0.068572,2.068665,1.855207,1.334152,1.536656,0.015801,-4.611877,...,1.305912,1.039207,0.595318,1.621946,1.144756,0.316162,0.149745,0.520286,0.453050,0.822524
2,10500,"Albany, GA (Metropolitan Statistical Area)",-1.167784,1.533074,-0.199280,2.625246,0.553775,0.659878,-0.603798,-2.416226,...,1.794506,0.251298,0.385449,1.107988,1.043722,0.363556,0.193357,0.682773,0.512726,1.037231
3,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",-1.119655,-0.786907,1.837647,4.371355,1.881306,2.379561,-0.122594,-5.634490,...,-0.397754,0.605338,0.871111,2.686918,2.301023,1.125481,3.546706,2.662803,2.027648,1.348113
4,10580,"Albany-Schenectady-Troy, NY (Metropolitan Stat...",-0.386304,0.713207,1.137991,1.285873,0.662660,1.244158,0.559249,-1.583846,...,0.652534,1.146290,1.028209,0.957357,1.443207,1.218819,1.217108,1.028761,1.088209,0.584085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,"Yakima, WA (Metropolitan Statistical Area)",0.043484,1.290649,-0.845966,1.504995,2.481575,0.642729,2.687791,-1.408948,...,0.770632,4.003632,0.432529,1.529664,1.017242,1.555988,1.640110,1.686718,1.692528,1.166081
380,49620,"York-Hanover, PA (Metropolitan Statistical Area)",-0.177766,0.246284,2.526718,2.987014,1.498067,2.183957,0.151862,-3.934661,...,1.229802,0.542460,0.587777,1.011599,0.946146,1.686409,0.881842,1.166493,0.750834,1.105225
381,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",-1.831271,-0.936645,-0.260418,0.568914,-0.232604,-0.456056,-1.817983,-5.096755,...,1.510061,0.728197,0.069961,0.143303,0.007641,0.092034,-1.348707,0.189227,0.096024,-0.404770
382,49700,"Yuba City, CA (Metropolitan Statistical Area)",1.471569,0.270816,2.117527,1.173746,2.349647,2.371273,-3.386678,-3.080590,...,0.059175,2.242540,2.343432,2.063698,2.737368,1.832617,2.124372,2.392559,1.913087,3.399639
383,49740,"Yuma, AZ (Metropolitan Statistical Area)",3.011775,2.424984,5.324015,2.916529,3.672904,1.598310,-1.703578,-4.428375,...,1.360434,1.729886,0.826567,0.715060,2.553069,3.349650,-0.429664,1.791762,0.459010,1.581085

In [58]:
compare_df['Rate_of_change'] = ((compare_df['prediction_2019']-compare_df['2019'])/compare_df['2019'])*100
compare_df

,GeoFips,GeoName,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,prediction_2019,2019,Rate_of_change
0,10180,"Abilene, TX (Metropolitan Statistical Area)",0.923909,0.878921,0.950270,1.020674,1.248157,2.536744,2.881307,-2.009792,...,1.680364,1.358132,1.103766,0.288322,-0.009746,0.180310,1.702566,0.676828,2.744509,-75.338821
1,10420,"Akron, OH (Metropolitan Statistical Area)",-0.073308,-0.068572,2.068665,1.855207,1.334152,1.536656,0.015801,-4.611877,...,1.039207,0.595318,1.621946,1.144756,0.316162,0.149745,0.520286,0.453050,0.822524,-44.919534
2,10500,"Albany, GA (Metropolitan Statistical Area)",-1.167784,1.533074,-0.199280,2.625246,0.553775,0.659878,-0.603798,-2.416226,...,0.251298,0.385449,1.107988,1.043722,0.363556,0.193357,0.682773,0.512726,1.037231,-50.567792
3,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",-1.119655,-0.786907,1.837647,4.371355,1.881306,2.379561,-0.122594,-5.634490,...,0.605338,0.871111,2.686918,2.301023,1.125481,3.546706,2.662803,2.027648,1.348113,50.406454
4,10580,"Albany-Schenectady-Troy, NY (Metropolitan Stat...",-0.386304,0.713207,1.137991,1.285873,0.662660,1.244158,0.559249,-1.583846,...,1.146290,1.028209,0.957357,1.443207,1.218819,1.217108,1.028761,1.088209,0.584085,86.309853
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,"Yakima, WA (Metropolitan Statistical Area)",0.043484,1.290649,-0.845966,1.504995,2.481575,0.642729,2.687791,-1.408948,...,4.003632,0.432529,1.529664,1.017242,1.555988,1.640110,1.686718,1.692528,1.166081,45.146656
380,49620,"York-Hanover, PA (Metropolitan Statistical Area)",-0.177766,0.246284,2.526718,2.987014,1.498067,2.183957,0.151862,-3.934661,...,0.542460,0.587777,1.011599,0.946146,1.686409,0.881842,1.166493,0.750834,1.105225,-32.065021
381,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",-1.831271,-0.936645,-0.260418,0.568914,-0.232604,-0.456056,-1.817983,-5.096755,...,0.728197,0.069961,0.143303,0.007641,0.092034,-1.348707,0.189227,0.096024,-0.404770,-123.723159
382,49700,"Yuba City, CA (Metropolitan Statistical Area)",1.471569,0.270816,2.117527,1.173746,2.349647,2.371273,-3.386678,-3.080590,...,2.242540,2.343432,2.063698,2.737368,1.832617,2.124372,2.392559,1.913087,3.399639,-43.726759
383,49740,"Yuma, AZ (Metropolitan Statistical Area)",3.011775,2.424984,5.324015,2.916529,3.672904,1.598310,-1.703578,-4.428375,...,1.729886,0.826567,0.715060,2.553069,3.349650,-0.429664,1.791762,0.459010,1.581085,-70.968681

In [65]:
rate_of_change_average = compare_df['Rate_of_change'].mean()
rate_of_change_average

inf

In [68]:
actual_2019_df = compare_df['2019'].sum()
actual_2019_df

532.260094813

In [70]:
pred_2019_df = compare_df['prediction_2019'].sum()
pred_2019_df

458.2722422311992

In [72]:
Diff_2019_df = ((pred_2019_df)-(actual_2019_df))/actual_2019_df

In [74]:
Diff_2019_df*100

-13.900695036661565