In [7]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [8]:
employment_df = pd.read_csv('../Resources/Data/employment_MSA.csv')
employment_df

,GeoFips,GeoName,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,998,United States (Metropolitan Portion),142876022.0,142590402.0,143452007.0,146128722.0,149308196.0,152553091.0,155904064.0,155704073.0,...,150313128.0,153263708.0,155994342.0,159160185.0,162856760.0,166858877.0,169925930.0,172857088.0,176625835.0,179929128.0
1,10180,"Abilene, TX (Metropolitan Statistical Area)",89511.0,90338.0,91132.0,91998.0,92937.0,94097.0,96484.0,99264.0,...,96809.0,98193.0,99843.0,101199.0,102316.0,102611.0,102601.0,102786.0,104536.0,107405.0
2,10420,"Akron, OH (Metropolitan Statistical Area)",396954.0,396663.0,396391.0,404591.0,412097.0,417595.0,424012.0,424079.0,...,402554.0,407811.0,412049.0,414502.0,421225.0,426047.0,427394.0,428034.0,430261.0,433800.0
3,10500,"Albany, GA (Metropolitan Statistical Area)",78011.0,77100.0,78282.0,78126.0,80177.0,80621.0,81153.0,80663.0,...,77793.0,79189.0,79388.0,79694.0,80577.0,81418.0,81714.0,81872.0,82431.0,83286.0
4,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",54749.0,54136.0,53710.0,54697.0,57088.0,58162.0,59546.0,59473.0,...,55562.0,55341.0,55676.0,56161.0,57670.0,58997.0,59661.0,61777.0,63422.0,64277.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,"* Broomfield County, CO, was created from part...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,* Estimates from 2008 forward separate Skagway...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,* Virginia combination areas consist of one or...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,Metropolitan Areas are defined (geographically...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,"Last updated: November 17, 2020-- new statisti...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
employment_df.dropna(inplace=True)
employment_df

,GeoFips,GeoName,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,998,United States (Metropolitan Portion),142876022.0,142590402.0,143452007.0,146128722.0,149308196.0,152553091.0,155904064.0,155704073.0,...,150313128.0,153263708.0,155994342.0,159160185.0,162856760.0,166858877.0,169925930.0,172857088.0,176625835.0,179929128.0
1,10180,"Abilene, TX (Metropolitan Statistical Area)",89511.0,90338.0,91132.0,91998.0,92937.0,94097.0,96484.0,99264.0,...,96809.0,98193.0,99843.0,101199.0,102316.0,102611.0,102601.0,102786.0,104536.0,107405.0
2,10420,"Akron, OH (Metropolitan Statistical Area)",396954.0,396663.0,396391.0,404591.0,412097.0,417595.0,424012.0,424079.0,...,402554.0,407811.0,412049.0,414502.0,421225.0,426047.0,427394.0,428034.0,430261.0,433800.0
3,10500,"Albany, GA (Metropolitan Statistical Area)",78011.0,77100.0,78282.0,78126.0,80177.0,80621.0,81153.0,80663.0,...,77793.0,79189.0,79388.0,79694.0,80577.0,81418.0,81714.0,81872.0,82431.0,83286.0
4,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",54749.0,54136.0,53710.0,54697.0,57088.0,58162.0,59546.0,59473.0,...,55562.0,55341.0,55676.0,56161.0,57670.0,58997.0,59661.0,61777.0,63422.0,64277.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,49420,"Yakima, WA (Metropolitan Statistical Area)",112685.0,112734.0,114189.0,113223.0,114927.0,117779.0,118536.0,121722.0,...,119123.0,120041.0,124847.0,125387.0,127305.0,128600.0,130601.0,132743.0,134982.0,136556.0
381,49620,"York-Hanover, PA (Metropolitan Statistical Area)",211514.0,211138.0,211658.0,217006.0,223488.0,226836.0,231790.0,232142.0,...,221987.0,224717.0,225936.0,227264.0,229563.0,231735.0,235643.0,237721.0,240494.0,243152.0
382,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",311150.0,305452.0,302591.0,301803.0,303520.0,302814.0,301433.0,295953.0,...,280982.0,285225.0,287302.0,287503.0,287915.0,287937.0,288202.0,284315.0,284853.0,283700.0
383,49700,"Yuba City, CA (Metropolitan Statistical Area)",61499.0,62404.0,62573.0,63898.0,64648.0,66167.0,67736.0,65442.0,...,62526.0,62563.0,63966.0,65465.0,66816.0,68645.0,69903.0,71388.0,73096.0,75581.0
384,49740,"Yuma, AZ (Metropolitan Statistical Area)",70656.0,72784.0,74549.0,78518.0,80808.0,83776.0,85115.0,83665.0,...,79901.0,80988.0,82389.0,83070.0,83664.0,85800.0,88674.0,88293.0,89875.0,91296.0

In [22]:
employment_df = employment_df.drop(['GeoFips','GeoName'], axis=1)
employment_df

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,142876022.0,142590402.0,143452007.0,146128722.0,149308196.0,152553091.0,155904064.0,155704073.0,150901632.0,150313128.0,153263708.0,155994342.0,159160185.0,162856760.0,166858877.0,169925930.0,172857088.0,176625835.0,179929128.0
1,89511.0,90338.0,91132.0,91998.0,92937.0,94097.0,96484.0,99264.0,97269.0,96809.0,98193.0,99843.0,101199.0,102316.0,102611.0,102601.0,102786.0,104536.0,107405.0
2,396954.0,396663.0,396391.0,404591.0,412097.0,417595.0,424012.0,424079.0,404521.0,402554.0,407811.0,412049.0,414502.0,421225.0,426047.0,427394.0,428034.0,430261.0,433800.0
3,78011.0,77100.0,78282.0,78126.0,80177.0,80621.0,81153.0,80663.0,78714.0,77793.0,79189.0,79388.0,79694.0,80577.0,81418.0,81714.0,81872.0,82431.0,83286.0
4,54749.0,54136.0,53710.0,54697.0,57088.0,58162.0,59546.0,59473.0,56122.0,55562.0,55341.0,55676.0,56161.0,57670.0,58997.0,59661.0,61777.0,63422.0,64277.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,112685.0,112734.0,114189.0,113223.0,114927.0,117779.0,118536.0,121722.0,120007.0,119123.0,120041.0,124847.0,125387.0,127305.0,128600.0,130601.0,132743.0,134982.0,136556.0
381,211514.0,211138.0,211658.0,217006.0,223488.0,226836.0,231790.0,232142.0,223008.0,221987.0,224717.0,225936.0,227264.0,229563.0,231735.0,235643.0,237721.0,240494.0,243152.0
382,311150.0,305452.0,302591.0,301803.0,303520.0,302814.0,301433.0,295953.0,280869.0,280982.0,285225.0,287302.0,287503.0,287915.0,287937.0,288202.0,284315.0,284853.0,283700.0
383,61499.0,62404.0,62573.0,63898.0,64648.0,66167.0,67736.0,65442.0,63426.0,62526.0,62563.0,63966.0,65465.0,66816.0,68645.0,69903.0,71388.0,73096.0,75581.0
384,70656.0,72784.0,74549.0,78518.0,80808.0,83776.0,85115.0,83665.0,79960.0,79901.0,80988.0,82389.0,83070.0,83664.0,85800.0,88674.0,88293.0,89875.0,91296.0

In [23]:
model = LinearRegression()

In [24]:
X = employment_df.drop('2019', axis=1)
y = employment_df['2019']

In [26]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X,
    #y, random_state=1, stratify=y)

In [25]:
model.fit(X,y)

LinearRegression()

In [27]:
y_pred = model.predict(X)

In [28]:
y_pred

array([1.79929979e+08, 1.06161785e+05, 4.33605439e+05, 8.27352947e+04,
       6.44730410e+04, 5.83338587e+05, 5.17478423e+05, 8.15599793e+04,
       4.87213332e+05, 7.57870547e+04, 1.67894079e+05, 7.86273233e+04,
       2.43369162e+05, 2.75166524e+05, 5.91911924e+04, 1.59440735e+05,
       2.87453137e+05, 1.32035315e+05, 3.97386480e+06, 1.70639146e+05,
       8.79480985e+04, 3.30322418e+05, 1.56437582e+06, 4.30893401e+05,
       1.89666701e+06, 9.32655241e+04, 1.55329664e+05, 5.47894587e+05,
       6.96426348e+04, 4.67265232e+04, 2.13840356e+05, 5.38088791e+04,
       1.32346393e+05, 1.28411219e+05, 1.22945783e+05, 1.28394152e+05,
       6.83605195e+05, 9.33159593e+04, 9.02716973e+04, 1.11520593e+05,
       1.00021621e+05, 5.35279237e+04, 4.64592084e+05, 3.73771558e+06,
       2.79290546e+05, 1.04550708e+05, 1.38542006e+05, 6.72962668e+05,
       2.00327180e+05, 6.28195805e+04, 6.84781812e+05, 8.57511979e+04,
       1.67120832e+05, 6.27306938e+04, 2.23861515e+05, 3.99560923e+05,
       6.24972420e+04, 7.66506901e+04, 3.97448763e+04, 5.41115985e+04,
       1.83856472e+05, 8.24699553e+04, 1.36218904e+05, 1.53779721e+05,
       5.17660358e+05, 1.68149853e+06, 1.58935137e+05, 3.42019184e+05,
       7.24792159e+04, 6.21463987e+06, 1.15538598e+05, 1.41230302e+06,
       1.58817403e+05, 6.35351653e+04, 1.36303672e+06, 9.45390987e+04,
       1.62720450e+05, 4.44774072e+05, 1.45664825e+05, 5.19336296e+05,
       1.83786521e+05, 6.29763736e+04, 1.42003648e+06, 2.55718440e+05,
       5.31085440e+04, 1.84413998e+05, 4.74937249e+04, 5.22869887e+06,
       8.17801221e+04, 3.47136780e+04, 1.19418849e+05, 2.31040162e+05,
       4.90089007e+05, 7.72549482e+04, 6.21543699e+04, 3.03038631e+05,
       2.14458519e+06, 4.93763460e+05, 2.65706129e+06, 8.06723546e+04,
       9.62967402e+04, 7.35654477e+04, 1.71183179e+05, 4.56976457e+05,
       7.96516613e+04, 1.12565982e+05, 8.11023849e+04, 7.77791433e+04,
       1.67015966e+05, 4.34022140e+04, 4.59341151e+05, 3.72352319e+04,
       1.58840903e+05, 2.17026082e+05, 1.95812095e+05, 5.94394363e+04,
       1.82758773e+05, 6.12493762e+04, 2.63181679e+05, 3.28851863e+05,
       8.83274447e+04, 1.88851753e+05, 1.18958088e+05, 7.71091413e+04,
       6.22385948e+04, 2.46777404e+05, 1.35549288e+05, 2.67754624e+05,
       5.20759069e+05, 5.13979009e+04, 2.02484551e+05, 1.22398041e+05,
       4.98184200e+04, 7.22433364e+04, 6.04553512e+04, 7.23053326e+04,
       5.21677217e+04, 9.30544030e+04, 7.47892340e+05, 4.04025288e+04,
       5.09797995e+04, 1.65552628e+05, 2.24232334e+05, 4.84626928e+05,
       1.04482835e+05, 5.57200961e+05, 2.22140015e+05, 1.42014878e+05,
       6.59469684e+04, 6.44144533e+04, 4.29416650e+05, 8.77655428e+04,
       8.34658185e+05, 9.65898744e+04, 2.01810157e+05, 1.31550013e+05,
       4.34016922e+04, 5.18545041e+04, 5.38992488e+04, 1.15337354e+05,
       4.39752794e+06, 1.72522658e+05, 3.08920165e+05, 9.66128124e+04,
       1.37874989e+06, 1.32914880e+05, 7.10030026e+04, 7.73756431e+04,
       3.85839211e+05, 1.08885201e+05, 9.61043848e+05, 1.15983242e+05,
       8.71238939e+04, 1.02197194e+05, 1.07546623e+05, 6.57149919e+04,
       7.95262518e+04, 1.05082646e+05, 1.12380450e+05, 1.60754344e+05,
       5.63924099e+04, 1.43140784e+06, 1.58515195e+05, 2.36493559e+05,
       1.59500726e+05, 9.26785477e+04, 5.24448394e+05, 4.83558208e+04,
       9.85408850e+04, 2.91803782e+05, 1.32368026e+05, 1.48921709e+05,
       7.27428766e+04, 3.20976782e+05, 3.47872141e+05, 3.01150686e+05,
       1.47153993e+05, 1.04313181e+05, 1.40091861e+06, 7.51268808e+04,
       6.81259389e+04, 6.92933930e+04, 3.61275643e+04, 6.38005152e+04,
       3.60333008e+05, 6.35846959e+04, 2.39536916e+05, 4.68295441e+05,
       8.73628480e+04, 1.74272657e+05, 5.08346220e+04, 9.02471354e+06,
       8.40929933e+05, 2.05045123e+05, 1.40791637e+05, 1.39349777e+05,
       6.74965622e+04, 5.20140162e+05, 2.80090874e+05, 9.06742858e+04,
       7.30323852e+04, 6.57729471e+04, 3.97523763e+05, 1.28463223e+05,
       8.73763293e+05, 1.07649153e+05, 4.21014004e+06, 5.35404324e+04,
       4.80714319e+04, 1.63890518e+05, 1.07734262e+06, 2.57006090e+06,
       8.77539118e+04, 2.45205667e+05, 2.57495047e+05, 1.17067973e+05,
       5.83444374e+04, 2.29242490e+05, 8.78115210e+04, 6.81215087e+04,
       7.22902393e+04, 6.03885277e+04, 8.15099794e+04, 2.48917378e+05,
       1.09757387e+05, 2.37218937e+05, 1.40737291e+06, 6.80531744e+04,
       5.18413438e+05, 8.21908791e+05, 1.31380978e+07, 8.30897458e+04,
       4.61388872e+05, 1.68852740e+05, 1.59376270e+05, 6.25374146e+04,
       1.07627817e+05, 3.80725597e+05, 8.98529892e+05, 1.58940499e+05,
       6.48180878e+05, 1.78320725e+06, 1.17251986e+05, 6.81854428e+04,
       4.78546898e+05, 3.10442137e+05, 1.11225578e+05, 4.62900166e+04,
       2.59758168e+05, 2.24368046e+05, 3.91057270e+06, 2.87340596e+06,
       4.26832960e+04, 1.51248073e+06, 8.61912217e+04, 5.32247596e+04,
       3.90609982e+05, 1.64016870e+06, 2.31925604e+05, 3.59456796e+05,
       1.04811152e+05, 9.65695015e+05, 3.88600623e+05, 8.18792288e+04,
       7.54008752e+04, 9.73850519e+04, 9.02644297e+05, 9.48716822e+04,
       2.31366501e+05, 9.31193373e+04, 3.27560373e+05, 8.79004069e+05,
       2.18155663e+06, 2.00651895e+05, 1.55295071e+05, 6.64908955e+05,
       1.89458301e+05, 7.50932821e+04, 5.34035738e+04, 1.41391997e+06,
       1.08163324e+05, 1.39924959e+05, 1.05843719e+05, 7.38554855e+04,
       1.81423036e+06, 2.31996703e+05, 2.59466097e+05, 2.28470522e+05,
       9.77166253e+05, 7.48006555e+04, 1.52656370e+06, 2.20103866e+06,
       3.48028033e+06, 1.49371021e+06, 1.77704371e+05, 1.58055174e+05,
       9.51266331e+04, 2.85149172e+05, 3.13828041e+05, 2.47889432e+05,
       3.27815483e+05, 2.73653798e+06, 8.44228486e+04, 4.07281831e+04,
       7.61080299e+04, 7.30106926e+04, 2.39471525e+05, 5.09181917e+04,
       9.71110131e+04, 2.09390809e+05, 1.80909805e+05, 1.92359548e+05,
       3.30720842e+05, 1.28625914e+05, 4.15625485e+05, 2.92809367e+05,
       6.20961250e+04, 1.16912881e+05, 6.71260858e+04, 3.47803477e+05,
       6.80509052e+04, 3.91371459e+05, 2.39402546e+05, 1.88393872e+06,
       9.15894379e+04, 8.00215377e+04, 4.65509625e+04, 4.01682759e+05,
       1.44728649e+05, 2.95061854e+05, 5.33218830e+05, 6.20616206e+05,
       1.44107800e+05, 6.62648215e+04, 1.53348776e+05, 6.69003124e+05,
       1.57096419e+05, 7.93395464e+04, 2.08018913e+05, 5.88333674e+04,
       7.62880019e+04, 1.10411977e+06, 2.14007574e+05, 1.65929705e+05,
       3.68508977e+04, 1.01043472e+05, 4.51410387e+06, 1.15375006e+05,
       6.71607425e+04, 1.08577775e+05, 4.97538531e+04, 7.46488528e+04,
       8.39177809e+04, 4.03529285e+05, 9.00131799e+04, 6.79179113e+04,
       1.88694201e+05, 8.45218783e+04, 3.66085459e+05, 5.39101495e+05,
       1.36789481e+05, 2.43929792e+05, 2.84779599e+05, 7.45310828e+04,
       9.18670259e+04])

In [52]:
compare_df = pd.concat([employment_df, employment_2019_df], axis=1)
compare_df

,GeoFips,GeoName,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,prediction_2019,2019
0,10180,"Abilene, TX (Metropolitan Statistical Area)",0.923909,0.878921,0.950270,1.020674,1.248157,2.536744,2.881307,-2.009792,...,1.429619,1.680364,1.358132,1.103766,0.288322,-0.009746,0.180310,1.702566,0.676828,2.744509
1,10420,"Akron, OH (Metropolitan Statistical Area)",-0.073308,-0.068572,2.068665,1.855207,1.334152,1.536656,0.015801,-4.611877,...,1.305912,1.039207,0.595318,1.621946,1.144756,0.316162,0.149745,0.520286,0.453050,0.822524
2,10500,"Albany, GA (Metropolitan Statistical Area)",-1.167784,1.533074,-0.199280,2.625246,0.553775,0.659878,-0.603798,-2.416226,...,1.794506,0.251298,0.385449,1.107988,1.043722,0.363556,0.193357,0.682773,0.512726,1.037231
3,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",-1.119655,-0.786907,1.837647,4.371355,1.881306,2.379561,-0.122594,-5.634490,...,-0.397754,0.605338,0.871111,2.686918,2.301023,1.125481,3.546706,2.662803,2.027648,1.348113
4,10580,"Albany-Schenectady-Troy, NY (Metropolitan Stat...",-0.386304,0.713207,1.137991,1.285873,0.662660,1.244158,0.559249,-1.583846,...,0.652534,1.146290,1.028209,0.957357,1.443207,1.218819,1.217108,1.028761,1.088209,0.584085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,"Yakima, WA (Metropolitan Statistical Area)",0.043484,1.290649,-0.845966,1.504995,2.481575,0.642729,2.687791,-1.408948,...,0.770632,4.003632,0.432529,1.529664,1.017242,1.555988,1.640110,1.686718,1.692528,1.166081
380,49620,"York-Hanover, PA (Metropolitan Statistical Area)",-0.177766,0.246284,2.526718,2.987014,1.498067,2.183957,0.151862,-3.934661,...,1.229802,0.542460,0.587777,1.011599,0.946146,1.686409,0.881842,1.166493,0.750834,1.105225
381,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",-1.831271,-0.936645,-0.260418,0.568914,-0.232604,-0.456056,-1.817983,-5.096755,...,1.510061,0.728197,0.069961,0.143303,0.007641,0.092034,-1.348707,0.189227,0.096024,-0.404770
382,49700,"Yuba City, CA (Metropolitan Statistical Area)",1.471569,0.270816,2.117527,1.173746,2.349647,2.371273,-3.386678,-3.080590,...,0.059175,2.242540,2.343432,2.063698,2.737368,1.832617,2.124372,2.392559,1.913087,3.399639
383,49740,"Yuma, AZ (Metropolitan Statistical Area)",3.011775,2.424984,5.324015,2.916529,3.672904,1.598310,-1.703578,-4.428375,...,1.360434,1.729886,0.826567,0.715060,2.553069,3.349650,-0.429664,1.791762,0.459010,1.581085

In [ ]:
m

In [58]:
compare_df['Rate_of_change'] = ((compare_df['prediction_2019']-compare_df['2019'])/compare_df['2019'])*100
compare_df

,GeoFips,GeoName,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,prediction_2019,2019,Rate_of_change
0,10180,"Abilene, TX (Metropolitan Statistical Area)",0.923909,0.878921,0.950270,1.020674,1.248157,2.536744,2.881307,-2.009792,...,1.680364,1.358132,1.103766,0.288322,-0.009746,0.180310,1.702566,0.676828,2.744509,-75.338821
1,10420,"Akron, OH (Metropolitan Statistical Area)",-0.073308,-0.068572,2.068665,1.855207,1.334152,1.536656,0.015801,-4.611877,...,1.039207,0.595318,1.621946,1.144756,0.316162,0.149745,0.520286,0.453050,0.822524,-44.919534
2,10500,"Albany, GA (Metropolitan Statistical Area)",-1.167784,1.533074,-0.199280,2.625246,0.553775,0.659878,-0.603798,-2.416226,...,0.251298,0.385449,1.107988,1.043722,0.363556,0.193357,0.682773,0.512726,1.037231,-50.567792
3,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",-1.119655,-0.786907,1.837647,4.371355,1.881306,2.379561,-0.122594,-5.634490,...,0.605338,0.871111,2.686918,2.301023,1.125481,3.546706,2.662803,2.027648,1.348113,50.406454
4,10580,"Albany-Schenectady-Troy, NY (Metropolitan Stat...",-0.386304,0.713207,1.137991,1.285873,0.662660,1.244158,0.559249,-1.583846,...,1.146290,1.028209,0.957357,1.443207,1.218819,1.217108,1.028761,1.088209,0.584085,86.309853
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,"Yakima, WA (Metropolitan Statistical Area)",0.043484,1.290649,-0.845966,1.504995,2.481575,0.642729,2.687791,-1.408948,...,4.003632,0.432529,1.529664,1.017242,1.555988,1.640110,1.686718,1.692528,1.166081,45.146656
380,49620,"York-Hanover, PA (Metropolitan Statistical Area)",-0.177766,0.246284,2.526718,2.987014,1.498067,2.183957,0.151862,-3.934661,...,0.542460,0.587777,1.011599,0.946146,1.686409,0.881842,1.166493,0.750834,1.105225,-32.065021
381,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",-1.831271,-0.936645,-0.260418,0.568914,-0.232604,-0.456056,-1.817983,-5.096755,...,0.728197,0.069961,0.143303,0.007641,0.092034,-1.348707,0.189227,0.096024,-0.404770,-123.723159
382,49700,"Yuba City, CA (Metropolitan Statistical Area)",1.471569,0.270816,2.117527,1.173746,2.349647,2.371273,-3.386678,-3.080590,...,2.242540,2.343432,2.063698,2.737368,1.832617,2.124372,2.392559,1.913087,3.399639,-43.726759
383,49740,"Yuma, AZ (Metropolitan Statistical Area)",3.011775,2.424984,5.324015,2.916529,3.672904,1.598310,-1.703578,-4.428375,...,1.729886,0.826567,0.715060,2.553069,3.349650,-0.429664,1.791762,0.459010,1.581085,-70.968681

In [65]:
rate_of_change_average = compare_df['Rate_of_change'].mean()
rate_of_change_average

inf

In [68]:
actual_2019_df = compare_df['2019'].sum()
actual_2019_df

532.260094813

In [70]:
pred_2019_df = compare_df['prediction_2019'].sum()
pred_2019_df

458.2722422311992

In [83]:
Diff_2019_df = (((pred_2019_df)-(actual_2019_df))/actual_2019_df * 100)

In [84]:
Diff_2019_df

-13.900695036661565

In [94]:
abs_2019 = np.absolute(Diff_2019_df)

In [97]:
abs_2019

13.900695036661565